.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn-green {
    background: green;
    color: #ffffff;
    box-shadow: 0 7px 0 #006000;
}

.btn-green:hover {
    background: #006000;
    box-shadow: 0 7px 0 #003f00;
}

.btn-green:active {
    position: relative;
    top:5px;
    box-shadow: none;
}